*.pyc
__pycache__
build
*.egg-info
*.tgz
frontend-version.json
src/frontend-version.json
update-versions
dist
node_modules
debian/.*
debian/debhelper-build-stamp
debian/files
debian/stupidchess-nginx.postrm.debhelper
debian/stupidchess-nginx.substvars
debian/stupidchess-nginx/DEBIAN
debian/stupidchess-nginx/etc
debian/stupidchess-nginx/lib
debian/stupidchess-nginx/opt
debian/stupidchess-nginx/usr
debian/stupidchess-nginx/usr

