/**
 * Body CSS
 */

table,
body {
    border-collapse: collapse;
}

.game-win {
    background: green;
    color: white;
}

.game-loss {
    background: red;
    color: white;
}

.game-tie {
    background: #00274c;
    color: white;
}

.game-my-turn {
    background: #ffcb05;
    color: black;
}

.game-my-turn a {
    color: #00274c;
}

.game-win .color-label-black {
    color: black;
}

.game-loss .color-label-black {
    color: black;
}

.game-win .color-label-white {
    color: white;
}

.game-loss .color-label-white {
    color: white;
}
